html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

*{
	font-family: "Times New Roman";
	font-size: 25px;
	text-shadow: 3px blue;
}

nav{
	text-align: center;
	background: black;
	display: inline-block;
	float: right;
	font-size: 35px;

}

h1{
	font-size: 40px;
	color: black;
	display: inline-block;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}


#c1{
	color: whitesmoke;
	margin: auto;
}

header{
    width: 98%;
    background: black;
    padding: 10px;
    margin: 5px;
}

a{
	padding: 0px 5px 0px 5px;
	text-decoration: none;
	color: whitesmoke;
}

a:hover{
	color: #14a76c;
}

div{
	padding: 30px;
	margin: 5px;
}	

table {
	margin: auto;
    background-color: rgba(202, 244, 244,1);
    border-collapse:collapse;
    border:2px solid black;
    margin-top:30px;
}

table th {
    font-family:Arial, Helvetica, sans-serif;
    border:2px solid black;
    font-size:25px;
    padding: 15px 10px 15px 10px;
}

table td {
    margin-right:50px;
    border:2px solid black;
    font-size:20px;
    text-align:center;
 	padding: 15px 10px 15px 10px;
}


.section {
    margin-left:200px;
    width:900px;
    height:140px;
    padding-top:80px;
    border-style: solid;
}

label {
    padding-top:80px;
    color:black;
    font-size:25px;
    padding-left:200px;
    font-family:Arial, sans-serif;
}

select {
    font-size:24px;
    color:black;
    font-family:Arial, sans-serif;
}

option {
    font-size:24px;
    color:black;
}

input {
    font-size:25px;
    color:black;
    font-family:Arial, sans-serif;
}

button {
    margin-left:360px;
    color:rgb(83, 10, 10);
    font-size:25px;
    border-style:none;
    border-radius: 12px;
    background: #f4c2c2;
}

button:hover{
    color: #14a76c;
}

main {
    height:650px;
}

#footer{
    background: black;
    color: whitesmoke;
    position:absolute;
    bottom:0;
    left: 0;
    width:99%;
    height:50px;   /* Height of the footer */
    padding: 30px 5px 30px 5px;
}
